management:
  endpoints:
    web:
      exposure:
        include: '*'
spring:
  datasource:
#    jdbc:postgresql://localhost:5432/postgres
    url: jdbc:postgresql://${DB_URL}/postgres
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQL10Dialect